<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="../public/stylesheets/style.css" rel="stylesheet">
</head>
<body>
    <h1>Welcome to the albums page!</h1>
    <% for(x of albumsData) { %>
    <li>
        <span style="font-weight: 600">Album:</span> <a href="/albums/<%=x.id%>"><%= x.name %> </a> <span style="font-weight: 600">Artist:</span> <%=x.artist%>
    </li>
    <% } %> 

</body>
</html>