<!DOCTYPE html>
<html lang="en" class="main-window">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/public/stylesheets/style.css" rel="stylesheet">
</head>
<body>
    <h1>Add an album:</h1>
    <form method="POST" action="/albums/posts/submit">
        Add an album name:&nbsp;<input type="text" name="name"><br>
        Add an artist name:&nbsp;<input type="text" name="artist"><br>
        <button type="submit">Add Album</button>
    </form>
   
    
</body>
</html>
