<!DOCTYPE html>
<html lang="en" class="main-window">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="../public/stylesheets/style.css" rel="stylesheet">
</head>
<body >
    <h1>Show page:</h1>
   <%= x.artist %>

</body>
</html>